beautifulsoup4==4.14.3
blinker==1.9.0
brotli==1.2.0
click==8.3.1
Flask==3.1.2
flask-cors==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
pytz==2025.2
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
urllib3==2.6.0
Werkzeug==3.1.4
