.wrapper {
  position:relative;
  margin:0 auto;
  overflow:hidden;
  padding:5px;
  height:50px;
}

.list {
  position:absolute;
  left:0px;
  top:0px;
  min-width:3000px;
  margin-left:12px;
  margin-top:0px;
}

.list li {
  display:table-cell;
  position:relative;
  text-align:center;
  cursor:grab;
  cursor:-webkit-grab;
  color:#efefef;
  vertical-align:middle;
}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px;
  padding-top:11px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color:#fff;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}

.source-list label {
  padding-left:10px;
  padding-right:10px;
}

.table a {
  text-decoration: none;
}

.abs-text {
  color:#444444;
}
.abs-text {
  display:inline-block;
  margin-bottom:20px;
}
